
.rtf{
  direction: rtl;
  
}
.icon{
  margin:20px 30px;
}
.form-select{
  cursor: pointer;
}
.img{
  
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

}


.btn-home{
  background-color: transparent;
  color: #fff;
  box-shadow: 2px 2px 2px #4c49d680  ,10px 1px 12px #4c49d680  ,2px 2px 10px  #4c49d680   ,2px 2px 3px #4c49d680   ,inset 2px 2px 10px #4c49d680  ,inset 2px 2px 10px #4c49d680  ,inset 2px 2px 10px #4c49d680;
  border-radius:20px ;
  -webkit-border-radius:20px ;
  -moz-border-radius:20px ;
  -ms-border-radius:20px ;
  -o-border-radius:20px ;
  padding: 10px 0;
  animation: animate 3s;
  -webkit-animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #7a9fcc ,  0 0 100px #0072ff ,  0 0 150px #0072ff ,   0 0 200px #0072ff;
}
.btn-home:hover{
  
  color: white;

 
}
.link{
  text-decoration: none;
}
.logo{
  display: none;
}
@media only screen and (max-width: 700px) {
  .mahmo3{
    display: block !important;
  }
  .head-main{
    font-size: 1em !important;
  }
  .ziad{
    display: none;
  }
  .logo{
      display: flex;
      justify-content: center;
      height: 200px;
      
  }
  .mahmo3{
    
    width: 100%;
    text-align: center;
    background-color: #7F5AF0;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
  .mahmo2{
   display: none;
  }
  #whats,
#facebook,
#twitter,
#instagram{
  font-size: 1.5em !important;
  padding: 10px 19px !important;
  margin: 10px !important;

}
}
.Second{
  height: 100vh;
}


