@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=IBM+Plex+Sans+Arabic:wght@300;400;700&family=Poppins:wght@500;700&display=swap');


body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #cc9797; */
  background-color: rgb(17, 11, 11) !important;
}
.container-icon{
  margin:  20px 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.bg-info{
  background-color: #7F5AF0 !important;
}
.head-main{
  color: white !important;
}
code {
  font-family: 'Cairo', sans-serif
}
.fadl{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
#whats,
#facebook,
#twitter,
#instagram{
  font-size: 2em;
  /* background-color: #18191f; */
  background-color: transparent;
  color: #fff;
  box-shadow: 2px 2px 2px #4c49d680  ,10px 1px 12px #4c49d680  ,2px 2px 10px  #4c49d680   ,2px 2px 3px #4c49d680   ,inset 2px 2px 10px #4c49d680  ,inset 2px 2px 10px #4c49d680  ,inset 2px 2px 10px #4c49d680;
  border-radius:29px ;
  -webkit-border-radius:29px ;
  -moz-border-radius:29px ;
  -ms-border-radius:29px ;
  -o-border-radius:29px ;
  padding: 11px 19px;
  margin: 0 20px;
  animation: animate 3s;
  -webkit-animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #7a9fcc ,
  0 0 100px #0072ff ,
  0 0 150px #0072ff , 
  0 0 200px #0072ff;
}
#twitter{
  animation-delay: 0.3s;
}
#facebook{
  animation-delay: 0.7s;
}
#whats{
  animation-delay: 0.1s;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
}
to {
  filter: hue-rotate(360deg);
  -webkit-filter: hue-rotate(360deg);
}
}

